{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": ["transform-runtime", "transform-es2015-modules-commonjs"]
    },
    "production": {
      "presets": ["env"],
      "plugins": ["transform-runtime", "transform-es2015-modules-commonjs"]
    }
  }
}
